This note book is dedicated towards providing insights related to the Descriptive statistics of the data.

The dataset used in this notebook can be found here.
https://www.kaggle.com/uciml/pima-indians-diabetes-database

In [2]:
# we will now import our dataset 
from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set # setting the seaborn visualisation as default

In [0]:
Data = pd.read_csv("diabetes.csv")

 
**Understanding our data** 

We have now uploaded our dataset into our notebook. We will now take a deeper look and will try to understand our Diabetes data. 

1. Peeking at our data

In [7]:
Data.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

**Description of Variables**
Let us try to understand what each variable is related to.
1. Pregnancies Number of times pregnant.

2. GlucosePlasma glucose concentration a 2 hours in an oral glucose tolerance test.

3. BloodPressure Diastolic blood pressure (mm Hg)
4. SkinThickness Triceps skin fold thickness (mm)
5. Insulin  2-Hour serum insulin (mu U/ml)
6. BMI Body mass index (weight in kg/(height in m)^2)
7. Diabetes Pedigree Function Diabetes pedigree function
8. Age Age of the patient (years)
9. Outcome Class variable or dependent variable (0 or 1) 268 of 768 are 1, the others are 0, Which means 268 out of the 768 had the diabetes and rest did not

In [5]:
# Let us try to understand the dimensions related to our data
Data.shape

(768, 9)

The above codeblock Suggests us regarding the Dimension of our dataset. 
Our data contains 9 features( Variables or columns) abd 768 Observations

In [6]:
# we will take a further look at our data types of our variables
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

The above codeblock tells us about the Data types of each variable.

We have a total of 9 variables. in which 7 variables are integer type and 2 variables are floating type. All the 9 variables are Non-null type of variables.

**Descriptive Statistics related to our dataset**

We will now look at the Statistical summary of our Data

In [0]:
Data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

The above codeblock tells us about the Statistical summary of our Data. 
It gives a detailed explanation of the following 

1. Count of observation in the variable
2. Mean or Average of the variables
3. Standard deviation of the variable
4. Minimum and maximum values in each variable
5. 25th, 50th and 75th Percentile of the variable

**Class Distribution**

Class distribution is usually in case of classification problem. Imbalanced dataset can lead to the reduced accuracy of our model. So we will need to know if our data is balanced or not.

In [0]:
# we will take a look at the class distribution of our data
Data.groupby('Outcome').size()

Outcome
0    500
1    268
dtype: int64

The above codeblock gives us a clear explanation 
that our Dependent variable is unbalanced. 

We see that the people who are prone to get Diabetes (Outcome = 1) are less than that of the people not prone to get the diabetes(Outcome = 0). This is a common problem we see while dealing with the datasets related to the medical field. 

People who are vulnerable towards a disease are far lesser than the people who are not vulnerable.


We will now take a further look at our dataset.

**Correlation  off the variables **

Correlation refers to the relationship between two variables and  how they may or may not change.

We will be using pearson method to determine the correlation of our variables. A correlation of  1 or -1 depicts that the variables are highly positive or negative correlated and  0 depicts that there iss no correlation

In [0]:
# We will now take a look at the correlation between each variable
Data.corr(method ='pearson')

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

**Skewness of univariate distribution**

We will also check the skewness of our variables. Skew refers to a distribution that shifted towards one side rather than being a bell curve.

The  values that are  nearer to zero are less skewed. A positive or negative value shows that the variable is highly skewed.

In [0]:
Data.skew()

Pregnancies                 0.901674
Glucose                     0.173754
BloodPressure              -1.843608
SkinThickness               0.109372
Insulin                     2.272251
BMI                        -0.428982
DiabetesPedigreeFunction    1.919911
Age                         1.129597
Outcome                     0.635017
dtype: float64

**Summary of this notebook **

In this notebook we came to know about the following things.

1. How to Check the Dimensions of our data, Check the datatype of our variable. 
2. How to Check the class distribution and summary of our data. 
3. How to Check the skewness and correlation of the variables.